#read_board_main{font-size:10pt; font-family:sans-serif;}
ul {list-style:none; padding:0px 2rem 0px 2rem;}
ul > li {width:100%; height:18%}
ul > li > div{height:100%;}
ul > li > div > span{font-size:1.5rem; font-weight:bold; height:100%;}
ul > li:first-child > div { width:49%;  display:inline-block;}
ul > li > div > span:nth-child(2){margin:0px 0px 0px 5rem;}
ul > li:nth-child(3) > div > div {font-size:1.5rem; font-weight:bold; height:100%; display:inline-block; vertical-align:top;}
ul > li:nth-child(3) > div > div:nth-child(2) {margin:0px 0px 0px 5rem; width:55%; }

ul > li > #menu { width:95%;}
ul > li > #menu > #mTitle { width: 100%; border:1px solid rgb(120,120,120); border-right:0px; border-left:0px; background-color:rgb(190,190,190);}
ul > li > #menu > #mTitle > div{display:inline-block; text-align:center; font-size:1.3rem; }
ul > li > #menu > #mTitle > div:first-child{width: 35%; text-align:left; padding:0px 0px 0px 2rem;}
ul > li > #menu > #mTitle > div:nth-child(2){width:10%;}
ul > li > #menu > #mTitle > div:last-child{width:20%;}